Unused references

```
WARNING: no <xref> in <rfc> targets <reference anchor='RFC3986'>
WARNING: no <xref> in <rfc> targets <reference anchor='RFC4514'>
WARNING: no <xref> in <rfc> targets <reference anchor='RFC5226'>
WARNING: no <xref> in <rfc> targets <reference anchor='RFC5280'>
WARNING: no <xref> in <rfc> targets <reference anchor='RFC5753'>
WARNING: no <xref> in <rfc> targets <reference anchor='SEC1'>
```